.main__right {
  position: relative;
  width: 480px;
  margin-top: 50px;
}

.green__gradient {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 100% 50% 100% 0;
  top: 53px;
  right: 79px;
  opacity: 0.7;

  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));

  transform: rotate(-94.3deg);
}

.blue_gradient {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 100% 0 0;
  left: 50px;
  top: 100px;
  opacity: 0.5;

  filter: blur(70px);
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));

  transform: rotate(20deg);
}

.img__slider {
  position: relative;
  margin-bottom: 18px;
}
