.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
  color: var(--nav-text);
}

.logo {
  align-self: center;
  font-size: 16px;
  text-transform: uppercase;
}

.nav__list {
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  gap: 30px;

  font-weight: 450;
  font-size: 16px;
}

.nav-list__item {
  border-right: 1px solid rgb(30, 45, 61);
  

  padding: 17px 23px;
}

.nav-list__item:first-child {
  border-left: 1px solid rgb(30, 45, 61);
}

.nav-list__link {
}

.nav-list__item:active {
  border-bottom: 3px solid rgb(254, 165, 95);
}
.phone {
  border-left: 1px solid rgb(30, 45, 61);
  padding: 17px 23px;
  justify-self: end;
  align-self: center;
}
